nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #000000;
  color: white;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

li a {
  color: white;
  text-decoration: none;
  padding: 0 10px;
  transition: all 0.3s ease-in-out;
}

li a:hover {
  color: #ccc
}